#site-title{
  font-family: $site-title-font;
  font-size: 2vw;
}

#page-title{
  font-family: $page-title-font;
  font-size: 4.12vw;
  text-transform: uppercase;
  color: $headings-text-color;
  line-height: 3.75rem;
}
