select {
  font-size: $base-font-size;
  border: solid $input-border-width $input-border;
  border-radius: 1px;
  color: shade($info, 8%);
  height: 40px;
  line-height: $base-line-height;
  padding: 0 0 0 divide($offset, 2);
  text-transform: none;
  word-wrap: normal;
  &:focus {
    outline-style: dotted;
    outline-color: $input-border-focus;
    outline-width: $input-border-width;
    text-decoration: none;
  }
  &:disabled {
    opacity: 1;
  }
}
