// Badges

// scss-docs-start badge-variables
$badge-font-size:                   .75em;
$badge-font-weight:                 $bold-font-weight;
$badge-color:                       $white;
$badge-offset-y:                   .35em;
$badge-offset-x:                   .65em;
$badge-border-radius:               $border-radius;
// scss-docs-end badge-variables
