// Breadcrumbs

// scss-docs-start breadcrumb-variables
$breadcrumb-font-size:              null;
$breadcrumb-offset-y:              0;
$breadcrumb-offset-x:              0;
$breadcrumb-item-offset-x:         .5rem;
$breadcrumb-margin-bottom:          1rem;
$breadcrumb-bg:                     null;
$breadcrumb-divider-color:          $gray-600;
$breadcrumb-active-color:           $gray-600;
$breadcrumb-divider:                quote("/");
$breadcrumb-divider-flipped:        $breadcrumb-divider;
$breadcrumb-border-radius:          null;
// scss-docs-end breadcrumb-variables
