$blue:       hsl(216, 85%, 39%) !default;
$indigo:     hsl(272, 77%, 74%) !default;
$purple:     hsl(286, 91%, 38%) !default;
$pink:       hsl(322, 91%, 38%) !default;
$red:        hsl(337, 91%, 38%) !default;
$orange:     hsl(3, 88%, 39%) !default;
$yellow:     hsl(43, 89%, 38%) !default;
$green:      hsl(68, 90%, 38%) !default;
$teal:       hsl(93, 92%, 38%) !default;
$cyan:       hsl(144, 83%, 40%) !default;
$gray:       hsl(240, 6%, 50%) !default;

$blue-hex:   #0F52BA !default;
$indigo-hex: #C18AF0 !default;
$purple-hex: #9109BA !default;
$pink-hex:   #BA0978 !default;
$red-hex:    #BA094C !default;
$orange-hex: #BA160C !default;
$yellow-hex: #B8860B !default;
$green-hex:  #9FB70A !default;
$teal-hex:   #58BC08 !default;
$cyan-hex:   #11BB55 !default;
$gray-hex:   #787888 !default;
