// font stacks
$font-family-sans-serif:        system-ui, -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif:             'Georgia', Cambria, Times New Roman, Times, serif;
$font-family-monospace:         SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;

/* Enable keyword, short hand for callig font Stack. */
$font-family-base:        $font-family-sans-serif;
$font-family-code:        $font-family-monospace;

$primary-font:            'Hand Typewriter', $font-family-base;
$secondary-font:          'Enjoy Writing', $font-family-base;
$accent-font:             'GlassAntiqua-Regular', $font-family-base;
$main-font:               'Avdira', $font-family-base;
$tertiary-font:           'Raleway', $font-family-base;
$site-font:               'Euphorigenic', $font-family-base;
$lead-font:               'Raylig', $font-family-base;

$page-title-font          : $primary-font;
$post-title-font          : $secondary-font;
$sub-title-font           : $lead-font;
$heading-text-font        : tertiary-font;
$quote-text-font          : $accent-font;
$body-text-font           : $main-font;

$global-font-size: 100%;
