// Footer


$footer-bg: mix($gray-200, $default-light, $color-interval);
$footer-color: $gray-600;
$footer-link-font-size: .85rem;
$footer-link-color: $gray-600;
$footer-link-hover-color: $gray-700;
$footer-heading-color: $gray-600;
$footer-heading-font-size: $sm-font-size;
$footer-offset-sm:       .125rem ;
$footer-offset:          .375rem ;
$footer-offset-md:       .625rem ;
$footer-offset-general:  .9375rem;
$footer-offset-big:      1.5rem;
