// Icon
$icon-shape:            5.5rem;
$icon-shape-sm:         4.5rem;
$icon-shape-xs:         2.5rem;
$icon-shape-lg:         6.5rem;
$icon-size:             2.25rem;
$icon-size-xs:          1.25rem;
$icon-size-sm:          1.75rem;
$icon-size-lg:          3rem;
