// Images

$image-hover-overlay-transition: all 0.3s ease-in-out !default;

$image-hover-zoom-transition: all 0.3s linear !default;
$image-hover-zoom-transform: scale(1.1) !default;

$image-hover-shadow-transition: $image-hover-overlay-transition !default;
$image-hover-shadow-box-shadow: $box-shadow !default;
$image-hover-shadow-box-shadow-soft: $box-shadow !default;

$image-path                                  : '../assets/images' !default;
$avatar-img-max-width                        : 100px !default;
