
$noui-target-bg:                  $dark;
$noui-target-thickness:           5px;
$noui-target-border-radius:       5px;
$noui-target-border-color:        0;
$noui-slider-connect-bg:          $default;
$noui-slider-connect-disabled-bg: $gray-200;
$noui-box-shadow:                 2px 2px 4px #afcbff, -2px -2px 4px #ffffff;
$noui-handle-width:               15px;
$noui-handle-bg:                  transparent;
$noui-handle-border:              0;
$noui-handle-border-radius:       $border-radius;
$noui-origin-border-radius:       $circle-radius;
