$offset: 16 !default;
$offset-x: 16 !default; // 1vh = 8px;
$horizontal-offset: 2vh;
$vertical-offset: 2.75vw;
$offset-y: 16 !default; // 1vw = 6px;

  $offset-xs:            calc($offset * $xs); // 56px
  $offset-sm:            calc($offset * $sm); // .76
  $offset-md:            calc($offset * $md); // 1.10px
  $offset-lg:            calc($offset * $lg); // 1.56
  $offset-xl:            calc($offset * $xl); // 2.25
  $offset-x2l:           calc($offset * $x2l); // 3.06px

  $offset-y-sm:          calc($vertical-offset * $sm);
  $offset-x-sm:          calc($horizontal-offset * $sm);
  $offset-y-lg:          calc($vertical-offset * $lg);
  $offset-x-lg:          calc($horizontal-offset * $lg);


@mixin offset-x{
  @each $name, $key in $offset-x {
    @if calc($offset-x-#{$name} * vh) == $key {
      @content
    }
  }
}
