$timeline-font-size: calc($base-font-size * $x2l);
$timeline-font-color: $gray-800;
$timeline-border-color: $gray-400;
$timeline-border-color-dark: $gray-500;
$timeline-background-color: $gray-100;
$timeline-line-height: 3;
$timeline-border-width: 6px;
$timeline-circle-radius: 50%;
$timeline-spacer-y: 1.25rem;
$timeline-spacer-x: 2.75rem;
$timeline-inset-box-shadow: inset 1px 2px 1px #d2d2d2,
inset -3px -3px 7px #eff0f5;