// scss-docs-start border-radius-variable
$border-radius:               .375rem !default;
$border-radius-circle                        : 50% !default;
$sm-border-radius:            .25rem;
$lg-border-radius:            .5rem;
$xl-border-radius:            1rem;
$x2l-border-radius:           2rem;
$border-radius-pill:          33rem;
$rounded-pill: 50rem;
// scss-docs-end border-radius-variable
