*,
*::after,
*::before,
*:after,
*:before,
*:fullscreen {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include box-sizing($type: inherit);
  transition: all .3s cubic-bezier(.5, 0, .5, 1);
}
