// Paragraphs
//
// Style p element.

$paragraph-font-family:       $base-font-family;
$paragraph-color:             $body-color;
$paragraph-font-size:         $base-font-size;
$paragraph-font-weight:       $base-font-weight;
$paragraph-line-height:       $base-line-height;
$paragraph-margin-top:        1.5rem;
$paragraph-margin-bottom:     1rem;
$paragraph-offset-left:       $vertical-offset;
$paragraph-offset-right:      $vertical-offset;
