// Navs
// scss-docs-start nav-variable
$nav-link-offset-y: 0.5rem !default;
$nav-link-offset-x: 1rem !default;
$nav-link-text-hover: $link-text-hover !default;
$nav-link-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out !default;
$nav-link-disabled-color: $gray-600 !default;

$nav-tabs-link-font-size: 12px !default;
$nav-tabs-link-font-weight: 500 !default;
$nav-tabs-link-color: rgba(0, 0, 0, 0.6) !default;
$nav-tabs-link-border-width: 0 !default;
$nav-tabs-link-hover-background-color: #f5f5f5 !default;
