@font-face { font-family: "Modern Antiqua";
  font-weight: 500;
  font-style: normal;

  src: local("Modern Antiqua"), url("https://fonts.cdnfonts.com/s/12248/ModernAntiqua-Regular.woff") format("woff");
}
