/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

    box-sizing: inherit;
}
body {
    background: #F6F6F6;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}
blockquote,
q {
    quotes: "" "";
}
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 15px;
}
ul,
ol {
    margin: 0 0 15px 25px;
    padding: 0;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 15px;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 15px 15px;
}
img {
    height: auto;
    /* Make sure images are scaled correctly. */

    max-width: 100%;
    /* Adhere to container width. */

    vertical-align: middle;
}
table {
    margin: 0 0 15px;
    width: 100%;
}
