@font-face {
    font-family: 'Enjoy Writing';
    font-style: normal;
    font-weight: 400;
    src: local("<php get_stylesheet_directory(); ?> . /src/sass/typography/fonts/enjoy-writing/enjoywrting.woff") format('woff');
}
