// Brand colors

$facebook:      #3b5999;
$twitter:       #1da1f2;
$google-plus:   #dd4b39;
$instagram:     #e4405f;
$pinterest:     #bd081c;
$youtube:       #cd201f;
$slack:         #3aaf85;
$dribbble:      #ea4c89;
$github:        #222222;
$dropbox:       #1E90FF;
$twitch:        #4B367C;
$paypal:        #ecb32c;
$behance:       #0057ff;
$neu-reddit:        #E84422;

$brand-colors: ();
$brand-colors: map-merge((
  "facebook":     $facebook,
  "twitter":      $twitter,
  "google-plus":  $google-plus,
  "instagram":    $instagram,
  "pinterest":    $pinterest,
  "youtube":      $youtube,
  "slack":        $slack,
  "dribbble":     $dribbble,
  "dropbox":      $dropbox,
  "twitch":       $twitch,
  "paypal":       $paypal,
  "behance":      $behance,
  "reddit" :      $neu-reddit,
  "github":       $github
), $brand-colors);
