// scss-docs-start form-label-variables
$form-label-margin-bottom:              .5rem;
$form-label-font-size:                  null;
$form-label-font-style:                 null;
$form-label-font-weight:                $semibold-font-weight;
$form-label-color:                      null;
// scss-docs-end form-label-variables
