// scss-docs-start form-file-variables
$form-file-button-color: $input;
$form-file-button-bg: $input-bg;
$form-file-button-hover-bg: darken($form-file-button-bg, 5%);
// scss-docs-end form-file-variables
