@font-face {
    font-family: 'TELETYPE 1945-1985';
    font-style: normal;
    font-weight: 400;
    src: local('TELETYPE 1945-1985'), url('https://fonts.cdnfonts.com/s/4658/TELETYPE1945-1985.woff') format('woff');
}
