abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

abbr[title],
abbr[data-bs-original-title]  {
  border-bottom: 1px dotted;
  cursor: help;
	text-decoration: underline;
	text-decoration: underline dotted;
}
