// Mark

// The <mark> HTML element represents text which is marked or highlighted for reference or notation purposes, due to the marked passage's relevance or importance in the enclosing context.

$mark-offset:                .2em;
$mark-bg:                     --#{$prefix}highlight-bg;

mark,
.mark {
  color: black;
  padding: $mark-offset;
  background-color: $mark-bg;
  text-decoration: none;
}
