/* ________________________________________________________
Site Name: CJMT
Author: CJ Montes-Termini

Stylesheet: CJMT Brand Typography

	= TOC =
		(1) Font Face (In Your Face)
		(2) Font Stacks
		(3) Font Variables
			- [] Font Families
			- [] Font Colors
				- Shadows
				- Gradients
				- Stroke Outline
		(4) Text Level CSS Selectors
			- [] Text Level
			- [] Headings
			- [] Links
		(5) Text Level HTML Elements
		(6) Responsive Settings

 _____________________________________________ TYPOGRAPHY */


 /* FONT FACE (IN YOUR
    FACE) ______________*/

/*  To embed your own fonts, use this syntax and place your fonts inside the library/fonts folder. For more information on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
	font-family:"Avdira";
	src: url("Avdira_R.eot?") format("eot"),
	url("Avdira_R.woff") format("woff"),
	url("Avdira_R.ttf") format("truetype"),
	url("Avdira_R.svg#Avdira") format("svg");
	font-weight:normal;
	font-style:normal;
	}

@font-face {
    font-family: 'Enjoy Writing';
    font-style: normal;
    font-weight: 400;
    src: local('Enjoy Writing'), url('https://fonts.cdnfonts.com/s/34906/EnjoyWriting-YzElj.woff') format('woff');
}
@font-face {
    font-family: 'Enjoy Writing';
    font-style: normal;
    font-weight: 400;
    src: local('Enjoy Writing'), url('https://fonts.cdnfonts.com/s/34906/EnjoyWriting-YzElj.woff') format('woff');
}

@font-face {
  font-family: "Euphorigenic";
  font-style: normal;
  font-weight: 400;
  src: local("Euphorigenic"), url("https://fonts.cdnfonts.com/s/8860/euphorigenic.woff") format("woff");
}

@font-face
{
    font-family: 'Glass Antiqua';
    font-weight: 400;
    font-style: normal;
    src: local('Glass Antiqua'), url('https://fonts.cdnfonts.com/s/15865/GlassAntiqua-Regular.woff') format('woff');
}


@font-face {
  font-family: "Hand TypeWriter";
  font-weight: 400;
  font-style: normal;
  src: local("Hand TypeWriter"), url("https://fonts.cdnfonts.com/s/16195/Hand TypeWriter.woff") format("woff");
}
@font-face {
  font-family: "Life Savers";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lifesavers/v13/ZXu_e1UftKKabUQMgxAal8HXOR5amcb4pA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Life Savers";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lifesavers/v13/ZXu_e1UftKKabUQMgxAal8HXOR5UmcY.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCFPrEHJA.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCMPrEHJA.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCHPrEHJA.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCGPrEHJA.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raylig';
    font-style: normal;
    font-weight: 600;
    src: local('Raylig'), url('https://fonts.cdnfonts.com/s/70312/RayligSemibold-Wy9mE.woff') format('woff');
}

@font-face {
    font-family: 'TELETYPE 1945-1985';
    font-style: normal;
    font-weight: 400;
    src: local('TELETYPE 1945-1985'), url('https://fonts.cdnfonts.com/s/4658/TELETYPE1945-1985.woff') format('woff');
}


/* FONT STACKS ______ */

$cjmt-sans-serif:   Euphorigenic, 'Hand Typewriter', 'Enjoy Writing', Avdira, Wanda 'Glass Antiqua', 'Love Ya Likes A Sister', Pompiere, 'Hadley';
$cjmt-serif:        "Georgia", Cambria, Times New Roman, Times, serif;

/* FONT VARIABLES ___ */
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
$owner-font-family:             Euphorigenic, $sans-serif;
$primary-font:                  'Hand Typewriter', $sans-serif;
$secondary-font:                ""
$tertiary-font:                 Raleway, $sans-serif;

/* TEXT SELECTORS ___ */
p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}

body {
  text-align:center;
  color:#000;
  font-family:georgia, serif;
  font-size:120%;
  line-height:1.6;
  margin:0;
  padding:2em 2em 5em;
  background:rgb(253, 253, 253);
  margin:auto;
  max-width:33em;
  color:rgb(10, 10, 10);
}

a {outline:none !important; font-weight:bold; text-decoration:none;}
a:link {color:#c00;}
a:visited {color:#606;}
a:hover {color:#606;}
a:active {color:#900; outline:none;}

h1 {
  font-size:320%;
  line-height:1.35;
  font-style:normal;
  margin:1.5em 0 0.8em;
}

h2 {
  font-weight:bold;
  font-size:200%;
  margin:1em 0 0.8em;
}

h3 {
  font-weight:normal;
  text-transform:uppercase;
  font-size:150%;
  letter-spacing:0.15em;
  margin:1.75em 0 0.8em;
}

h4 {
  font-weight:normal;
  font-size:150%;
  letter-spacing:0.1em;
  margin:1.5em 0 0.8em;
}

h5 {
  font-weight:normal;
  font-style:italic;
  font-size:150%;
  margin:1.5em 0 0.8em;
}

h6 {
  font-weight:bold;
  font-size:100%;
  letter-spacing:0.1em;
  margin:1.5em 0 0.8em;
}

p {
  text-align:left;
  font-size:100%;
  margin:1em 0 0;
}

p.lead {
  font-size:150%;
  margin:1em 0;
}

p + p {
  margin:0;
  text-indent:1.5em;
}

p + ul, p + ol, p + dl {margin-bottom:1.5em;}
p.lead + p {
  text-indent:0;
}

blockquote {border-left:5px solid #eee; padding-left:1.5em; margin:1em 0;}
blockquote small {display:block; line-height:1.7em;}
ul, ol, dl {
  text-align:left;
}

dt {font-weight:bold;}
code {font-family:courier, monospace;}
p > code {padding:0.25em; background:#eee;}
pre {text-align:left; font-size:100%;}
hr {height:0; color:#eee; border:1px solid #eee; margin:2em 0 1em;}

.normal {font-weight:normal;}
.quiet {color:#999;}
.pull-left {float:left; margin:0.5em 2em 1em 0;}
.pull-right {float:right; margin:0.5em 0 1em 2em;}

/* HTML ELEMENTS _____ */


/* RESPONSIVE SETTINGS */
@media (max-width:500px) {
  body {font-size:80%;}
  img {max-width:100% !important; height:auto !important; float:none !important;}
}
