$small-font-size:             .875em;

$sub-sup-font-size:           .75em;

$text-muted:                  rgba(var(--#{$default-prefix}body-color-rgb), .75);

$initialism-font-size:        $small-font-size;
