// stylelint-disable scss/dollar-variable-default
$enable_full_palette: true;

$midnight-blue: #0e1c36;
$light-blue: #afcbff;
$light-cyan: #d7f9ff;
$light-white: #f9fbf2;
$light: #ffede1;

$default-colors: ();
$default-colors: map-merge((
  'midnight-blue': $midnight-blue,
  'light-blue': $light-blue,
  'light-cyan': $light-cyan,
  'light-white': $light-white,
  'misty-rose': $light,
), $default-colors);


// Local docs variables
$default:        $midnight-blue;
$default-dark:        lighten(saturate($default, 5%), 15%);
$default-light:  lighten(saturate($default, 5%), 45%); // stylelint-disable-line function-disallowed-list
$cjt-accent:       #e0a63a;
$dropdown-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='#292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>");
$search-clear-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='rgba(255,255,255,.75)' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z'/></svg>");

$cjt-gutter-x: 3rem;
$cjt-callout-variants: info, warning, danger;

:root {
  --primary: #{$default};
  --primary-dark: #{$default-dark};
  --primary-light: #{$default-light};
  --cjt-accent: #{$cjt-accent};
  --primary-dark-rgb: #{to-rgb($cjt-blue-dark)};
  --primary-light-rgb: #{to-rgb($default-light)};
  --cjt-accent-rgb: #{to-rgb($cjt-accent)};
  --cjt-black-rgb: #{to-rgb(black)};
  --cjt-white-rgb: #{to-rgb(white)};
}
