@font-face { font-family: "Avdira";
  font-weight: normal;
  font-style: normal;

  src: url("Avdira_R.eot?") format("eot"),
  url("Avdira_R.woff") format("woff"),
  url("Avdira_R.ttf") format("truetype"),
  url("Avdira_R.svg#Avdira") format("svg");
}
