$row1: 6.25%;
$row2: 12.5%;
$row3: 18.75%;
$row4: 25%;
$row5: 31.25%;
$row6: 37.5%;
$row7: 43.75%;
$row8: 50%;
$row9: 56.25%;
$row10: 62.5%;
$row11: 68.75%;
$row12: 75%;
$row13: 81.25%;
$row14: 87.5%;
$row15: 93.75%;
$row16: 100%;
