$col1: 6.25%;
$col2: 12.5%;
$col3: 18.75%;
$col4: 25%;
$col5: 31.25%;
$col6: 37.5%;
$col7: 43.75%;
$col8: 50%;
$col9: 56.25%;
$col10: 62.5%;
$col11: 68.75%;
$col12: 75%;
$col13: 81.25%;
$col14: 87.5%;
$col15: 93.75%;
$col16: 100%;
