$custom-color:(
silver:          $silver,
chocolate:       $chocolate,
gray:            $gray,
black:           $black,
white:           $white,
camel:           $camel,
saltpan:         $saltpan,
white-chocolate: $white-chocolate,
dark-vanilla:    $dark-vanilla,
ghost-white:     $ghost-white
);
