$silver-rgb:           rgb(168,169,173);

$chocolate-rgb:        rgb(123,63,0);
$brown-rgb:            rgb(98,52,18);
$camel-rgb:            rgb(193,154,107);
$saltpan-rgb:          rgb(255,255,204);
$dark-vanilla-rgb:     rgb(209,190,168);
$white-chocolate-rgb:  rgb(237,230,214);
$ghost-white-rgb:      rgb(251,251,253);

$maroon-rgb:           rgb(128,0,0);
$deep-sky-blue-rgb:    rgb(13,202,240);
$coral-rgb:            rgb(255,127,80);
