/* Custom Colors */
$silver                  : #a8a9ad;

$chocolate               : #623412;
$camel                   : #c19a6b;
$saltpan                 : #ffffcc;
$white-chocolate         : #ede6d6;
$dark-vanilla            : #d1bea8;
$ghost-white             : #fbfbfd;

$deep-sky-blue           : #0dcaf0;
$coral                   : #ff7f50;
$maroon                  : #800000;

$light-cyan          : #cdffff; /* Light Green */
$neon-blue           : #555aff; /* light blue */
$salomie             : #ffd080; /* light orange */
$wild-watermelon     : #ff555a; /* light red */
$hot-pink            : #ff6fa9;
