/*================Widgets=================*/
/*---counter---*/

.counter-container {
    text-align: center;
}
.counter-text {
    margin-bottom: 15px;
}

.counter-container input[type='text']{
    border: 0;
    background: none;
}
