@font-face
{
    font-family: 'Glass Antiqua';
    font-weight: 400;
    font-style: normal;

    src: local url("<?php get_template_directory(); ?> . /src/fonts/glass-antqiua/glassantiqua.woff") format('woff');
}
