@font-face
{
    font-family: 'Glass Antiqua';
    font-weight: 400;
    font-style: normal;

    src: local("<?php get_stylesheet_directory(); ?> . /src/sass/typgrography/fonts/glass-antqiua/glassantiqua.woff") format('woff');
}
