@font-face
{
    font-family: 'Hand TypeWriter';
    font-weight: 400;
    font-style: normal;
    src: local("<?php get_stylesheet_directory() . /src/sass/typography/fonts/hand-typerwriter/handtypewriter.woff") format('woff');
}
