.g-0,
.gx-0 {
  $gutter-x: 0;
}

.g-0,
.gy-0 {
  $gutter-y: 0;
}

.g-1,
.gx-1 {
  $gutter-x: 0.25rem;
}

.g-1,
.gy-1 {
  $gutter-y: 0.25rem;
}

.g-2,
.gx-2 {
  $gutter-x: 0.5rem;
}

.g-2,
.gy-2 {
  $gutter-y: 0.5rem;
}

.g-3,
.gx-3 {
  $gutter-x: 1rem;
}

.g-3,
.gy-3 {
  $gutter-y: 1rem;
}

.g-4,
.gx-4 {
  $gutter-x: 1.5rem;
}

.g-4,
.gy-4 {
  $gutter-y: 1.5rem;
}

.g-5,
.gx-5 {
  $gutter-x: 3rem;
}

.g-5,
.gy-5 {
  $gutter-y: 3rem;
}
