// -----------------------------------------------------------------------------
// X.X.X Header
// -----------------------------------------------------------------------------

/*============= Header ==============*/

.header-wrapper {
  outline: 4px solid red;
  width: 8vw;
  position: fixed;
  top: 3vh;
  bottom: 3vh;
  left: 1.75vw;
  z-index: 600;

  background: $gradient-primary;
  margin-bottom: 25px;
  @include elevation(5);
  @include border-radius($border-radius);
}
.page-template-tpl-home .header-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;

}
.page-template-tpl-home .header-wrapper.show-header {
    background: $gradient-secondary;
    box-shadow: 0 1px 12px $shadow-box;
    opacity: 1;
    visibility: visible;
}
.page-template-tpl-home .fp-viewing-home-home .header-wrapper {
    opacity: 0;
    visibility: hidden;
}
.site-branding {
    float: left;
    max-width: 380px;
}
//.site-branding img {
//    max-height: 66px
//}
h1.site-title {
  @extend %h1;
}
h2.site-description {
  font-size: 13px;
  margin: 0;
  font-weight: normal;
  a {
    color: #999;
  }
}
.social-icons {
  float: right;
  margin-top: 10px;
  .widget {
    display: inline-block;
    margin: 0 0 0 10px;
  }
}

@import 'header/logo';
