/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
	font-family:"Avdira";
	src: url("Avdira_R.eot?") format("eot"),
	url("Avdira_R.woff") format("woff"),
	url("Avdira_R.ttf") format("truetype"),
	url("Avdira_R.svg#Avdira") format("svg");
	font-weight:normal;
	font-style:normal;
	}
