/* GLOBAL */
$header-gradient: radial-gradient(
  circle at top left,
  transparent 5%,
  rgba($white, 0.2) 15%,
  rgba($accent, 0.3) 25%,
  rgba($secondary, 0.4) 35%,
  rgba($secondary, 0.5) 45%,
  rgba($secondary, 0.6) 55%,
  rgba($primary, 0.7) 65%,
  rgba($primary, 0.8) 75%,
  rgba($primary, 0.9) 85%,
  rgba($primary, 1) 95%
);

$site-title-gradient: linear-gradient(
  180deg,
  rgba($chocolate, 0.82) 5%,
  rgba($accent, 0.84) 15%,
  rgba($accent, 0.86) 25%,
  rgba($secondary, 0.88) 35%,
  rgba($secondary, 0.90) 45%,
  rgba($secondary, 0.92) 55%,
  rgba($primary, 0.94) 65%,
  rgba($primary, 0.96) 75%,
  rgba($primary, 0.98) 85%,
  rgba($primary, 1) 95%
);

.footer-gradient {
  width: 100%;
  background-image: linear-gradient(
    to right,
    transparent,
    rgba($white, 0.1) 5%,
    rgba($white, 0.2) 15%,
    rgba($white, 0.3) 25%,
    rgba($primary, 0.4) 35%,
    rgba($primary, 0.5) 45%,
    rgba($primary, 0.6) 55%,
    rgba($primary, 0.7) 65%,
    rgba($primary, 0.8) 75%,
    rgba($primary, .9) 85%);
}

$nav-gradient: linear-gradient(
  205deg,
  rgba($accent, 0.65) 5%,
  rgba($gray-300, 0.7) 25%,
  rgba($gray-400, 0.75) 35%,
  rgba($gray-500, 0.8) 40%,
  rgba($accent, 0.85) 45%,
  rgba($accent, 0.9) 60%,
  rgba($accent, 1) 75%
  rgba($accent, 0.5) 80%,
  rgba($accent, 0.25) 90%
);

$html-gradient: radial-gradient(circle at 70% 65%, $white 1%, $primary, $secondary, $accent, $white);
