@import "typography/helpers/drop-cap";
@import "typography/helpers/text-truncation";
@import "typography/helpers/type";

body,
button,
input,
select,
optgroup,
textarea {
	color: $text;
	font-family: $font-family-base;
	@include font-size($base-font-size);
	line-height: $base-line-height;
}

/* Typography 1.3 Grouping Content */
@import "typography/hr"; //1.3.1
@import "typography/pre"; // 1.3.2
@import "typography/code"; // 1.3.3
@import "typography/kbd";
@import "typography/mark";


/* Text-level semantics */
@import "typography/a";
@import "typography/abbr";
@import "typography/emphasis"; //1.3.4

@import "typography/headings";
@import "typography/copy";
@import "typography/quote";
@import "typography/lists";

/* Embedded Content */
@import "typography/embedded-content"; //1.3.4
@import "typography/img+multimedia";

/* Table */
@import "typography/table";

/* Links */
@import "typography/links";

/* Forms */
@import "typography/forms";

/* Interactive */
