/* Gives a basic visual design to form elements */
button,
html input[type='button'],
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted $btn-border-color;
  &::-moz-focus-inner  {
    border: 0;
    padding: 0;
  }
}

[type='checkbox'],
[type='radio'] {
	@include box-sizing($type: border-box);
  padding: 0;
}

[type='search'] {
	@include box-sizing($type: border-box);
	outline-offset: -2px;
  -webkit-appearance: textfield;
}


[list]:not([type='date']):not([type='datetime-local']):not([type='month']):not([type='week']):not([type='time'])::-webkit-calendar-picker-indicator {
  display: none !important;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font-family: inherit;
}
::-moz-selection {
  color: shade($info, 8%);
  background-color: $btn-bg-color;
}
::selection {
  color: shade($info, 8%);
  background-color: $btn-bg-color;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit; // 1
  -webkit-appearance: button; // 2
}
