//------------------------------------------------------------------------------
// 2.8.0 Media
//------------------------------------------------------------------------------

/* Styling for images and videos */
.site-header img,
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
.site-header img,
.entry-content img,
.widget-img,
img[class*="align"],
img[class*="wp-image-"],
.wp-caption img {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.site-header img,
.entry-content img,
.widget img,
img.size-full {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
.entry-content img.wp-smiley,
.comment-content img.wp-smiley { /* Remove borders and backgrounds from WP smileys */
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption { /* The container for image captions */
	border: 1px solid #ccc;
	max-width: 100%;
}
.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.alignnone { /* Add spacing around captions and post text */
	margin-bottom: 1.5em;
}
.wp-caption img { /* The image inside the caption container */
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
#content .gallery { /* Container for image galleries */
	margin-bottom: 1.5em;
}
.wp-caption-text,
.gallery-caption {
	font-size: 12px;
	font-size: 1.2rem;
	font-style: italic;
}
#content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
#content .gallery dd {
	margin: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}
