//------------------------------------------------------------------------------
// 2.12.0 Site Footer
//------------------------------------------------------------------------------

.site-footer {

}
.site-info {
  font-size: 13px;
	font-size: 1.3rem;
	padding: 1.5em 0;
	text-align: center;
}
