// Address - The <address> HTML element indicates that the enclosed HTML provides contact information for a person or people, or for an organization.

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
