// Aside - The <aside> HTML element represents a portion of a document whose content is only indirectly related to the document's main content. Asides are frequently presented as sidebars or call-out boxes.


aside {
	border-left: $border-width solid green;
	padding-left: 1em;
	display: block;
}
